<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace后面写的是这个映射文件对应接口的包和接口名-->
<mapper namespace="com.example.users.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.example.users.domain.User">
        <id property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="loginCount" column="login_count"/>
        <result property="lastLoginTime" column="last_login_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
    </resultMap>

    <select id="findAll"  resultMap="userResultMap">
        select email, password, login_count, last_login_time
        from user

    </select>
</mapper>